@import url("https://fonts.googleapis.com/css?family=Lato");
html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0; }

/* Removes discs from ul */
ul {
  list-style: none; }

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit; }

/*style of app*/
main {
  width: 40%;
  height: 100vh;
  margin: auto; }
  main .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 4rem; }
    main .header .fa-plus-circle {
      position: absolute;
      font-size: 1.5rem;
      right: 0;
      color: #7979fd;
      cursor: pointer; }
  main section {
    height: auto; }
    main section .note {
      background-color: #f9f9f9;
      box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 1rem; }
      main section .note__header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: #eee; }
        main section .note__header .fa-pen {
          color: #92D788;
          font-size: 1.2rem;
          margin-right: .3rem; }
        main section .note__header .fa-trash-alt {
          color: #C2474B;
          font-size: 1.2rem;
          cursor: pointer; }
          main section .note__header .fa-trash-alt:hover {
            color: #7a292b; }
      main section .note__body {
        height: 316px;
        padding: 1rem; }
        main section .note__body hr {
          border-top: 1px #ccc;
          margin: 1rem 0; }
        main section .note__body ul li {
          margin-bottom: 1rem; }
  main h3 {
    color: #C2474B; }
